h5 {
  span {
    display: inline-block;
  }
}

@media (min-width: 768px){
  .mobile-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .example {
    display: none;
  }

}
